prediction-job/target/*
prediction-job/.idea
prediction-job/bin
prediction-job/*.csv
.env
other_docs
Prediction&SubscriptionEntitiesBarcelona.sh
Prediction&SubscriptionEntitiesSantander.sh
Prediction&SubscriptionEntitiesMalaga.sh
createResponseEntities.sh